# SPDX-License-Identifier: GPL-2.0-only

config MCOM03_DMA32_BUS
	bool "MCom-03/MCom-03R DMA32 bus driver"
	depends on ARCH_MCOM03 || ARCH_MCOM03R || COMPILE_TEST
	default y
	help
	  The driver allows to configure memory mapping of 32-bit DMA masters
	  to DDR high address space for MCom-03/MCom-03R SoCs.

config MCOM03_BOOTSTAGE
	tristate "MCom-03/MCom-03R bootstage library"
	depends on ARCH_MCOM03 || ARCH_MCOM03R || COMPILE_TEST
	default m
	help
	  The library allows to get access to boot stage timestamps
	  for MCom-03/MCom-03R SoCs.

config MCOM03R_OTP
	tristate "MCom-03R OTP driver"
	depends on ARCH_MCOM03R || COMPILE_TEST
	depends on OF
	default m
	help
	  The driver allows to read public data from OTP memory of MCom-03R SoCs.
