// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2023 RnD Center "ELVEES", JSC
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>

#include "mcom03-elvmc03q7-r1.0.dtsi"

/ {
	model = "ELV-MC03-Q7 r1.0, ELV-Q7-CB r1.0";
	compatible = "elvees,elvmc03q7-r1.0-elvq7cb-r1.0",
		     "elvees,elvmc03q7-elvq7cb",
		     "elvees,elvq7cb-r1.0",
		     "elvees,elvq7cb",
		     "elvees,elvmc03q7-r1.0",
		     "elvees,elvmc03q7",
		     "elvees,mcom03";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	vdda_codec: vdda-codec {
		compatible = "regulator-fixed";
		regulator-name = "vdda-codec";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	vddio_codec: vddio-codec {
		compatible = "regulator-fixed";
		regulator-name = "vddio-codec";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	/* "G1" oscillator */
	audio_mclk: audio_mclk {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <12288000>;
	};

	/* TRS (3.5mm jack) connected to SGTL5000 codec.
	   SGTL5000 connected to MCom-03 I2S0 as I2S slave.
	   */
	elvq7cb_i2s_asound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "sgtl5000";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&dailink0_master>;
		simple-audio-card,frame-master = <&dailink0_master>;
		simple-audio-card,routing =
			"MIC_IN", "Mic Bias";

		dailink0_master: simple-audio-card,cpu {
			sound-dai = <&i2s0>;
		};

		simple-audio-card,codec {
			sound-dai = <&sgtl5000>;
		};
	};
};

&uart0 {
	status = "okay";
	clock-frequency = <27920454>;
};

&sdhci1 {
	status = "okay";

	/* Disable 1.8V support
	 * Disable SDR50, SDR104 and DDR50 support
	 */
	sdhci-caps-mask = <0x7 0x4000000>;
	sdhci-caps = <0x0 0x0>;
};

/* Connected to USB 2.0 (USB1) */
&usb0 {
	status = "okay";
};

/* Connected to USB 2.0 (USB0, USB2-3) */
&usb1 {
	status = "okay";
};

/* The board has a video output interface */
&dp {
	status = "okay";
};

/* Connected to HDMI plug */
&adv7513 {
	status = "okay";
};

&display_encoder {
	status = "okay";
	video-output = "rgb";
};

&i2s0 {
	status = "okay";
};

&i2c0 {
	status = "okay";
	clock-frequency = <100000>;

	hwmon@49 {
		compatible = "ti,lm73";
		reg = <0x49>;
	};

	hwmon@4a {
		compatible = "ti,lm73";
		reg = <0x4a>;
	};
};

&i2c1 {
	status = "okay";

	sgtl5000: codec@a {
		status = "okay";
		compatible = "fsl,sgtl5000";
		reg = <0x0a>;
		#sound-dai-cells = <0>;
		clocks = <&audio_mclk>;
		clock-names = "mclk";
		micbias-resistor-k-ohms = <2>;
		micbias-voltage-m-volts = <2250>;
		VDDA-supply = <&vdda_codec>;
		VDDIO-supply = <&vddio_codec>;
		VDDD-supply = <&vddio_codec>;
	};
};

/* Connected to PCIe bridge */
&pcie1 {
	status = "okay";
};

&spi1 {
	status = "okay";
	num-cs = <2>;
	cs-gpios = <&gpio1c 3 GPIO_ACTIVE_LOW>, <&gpio1c 4 GPIO_ACTIVE_LOW>;

	flash1: m25p32@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "m25p32", "jedec,spi-nor";
		spi-max-frequency = <75000000>;
		reg = <0x0>;
	};

	flash2: m25p32@1 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "m25p32", "jedec,spi-nor";
		spi-max-frequency = <75000000>;
		reg = <0x1>;
	};
};
