// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2023 RnD Center "ELVEES", JSC
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/thermal/thermal.h>

#include "mcom03.dtsi"

/ {
	model = "ELV-MC03-Q7 r1.0";
	compatible = "elvees,elvmc03q7-r1.0",
		     "elvees,elvmc03q7",
		     "elvees,mcom03";

	sdhci0_supply: regulator@0 {
		compatible = "regulator-fixed";
		regulator-name = "sdhci0-supply";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	thermal-zones {
		cpu_thermal: cpu0-thermal {
			thermal-sensors = <&pvt 0>;
			polling-delay-passive = <250>;
			polling-delay = <1000>;

			trips {
				cpu_alert0: cpu-alert-0 {
					temperature = <50000>;
					hysteresis = <1000>;
					type = "active";
				};
			};
		};
	};

	/* "G2" oscillator */
	hdmi_cec_clk: hdmi_cec_clk {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <12000000>;
	};
};

&gpio0a {
	gpio-line-names = "GPIO0", "GPIO1", "RTC_INT", "HDMI_INT",
		"GBE0_PD_INT", "PEWARN", "PINTn", "LVDS_IRQ";
};

&gpio0b {
	gpio-line-names = "HDMI_PD", "PFSOB", "", "GPIO2",
		"GPIO3", "GPIO4", "GPIO5", "GPIO6";
};

&gpio0c {
	gpio-line-names = "CAM0_ENA#", "CAM1_ENA#", "CAM0_RST#", "CAM1_RST#",
		"CAM0_GPIO", "CAM1_GPIO", "LVDS_EN", "RGMII_0_RST";
};

&gpio0d {
	gpio-line-names = "GPIO7", "PSTANDBY", "", "I2C0_SCL",
		"I2C0_SDA", "I2C0_SMBALERT", "SUS_S3#", "SUS_S5#";
};

&gpio1a {
	gpio-line-names = "GP0_I2C_CLK", "GP0_I2C_DAT", "I2C2_SCL", "I2C2_SDA",
		"PCIE_WAKE#", "GPII0", "GPII1", "GPII2";
};

&gpio1b {
	gpio-line-names = "I2S_CLK", "I2S_WS", "I2S_SDO", "I2S_RST#",
		"I2S_SDI", "GPO0", "UART0_TX", "UART0_RX";
};

&gpio1c {
	gpio-line-names = "SPI_SCK", "SPI_MOSI", "SPI_MISO", "SPI_CS0",
		"SPI_CS1", "GPO0", "PCIE_RST#", "SATA_PERST";

	pci-perstn {
		gpio-hog;
		gpios = <6 GPIO_ACTIVE_HIGH>;
		output-high;
	};

	sata-perstn {
		gpio-hog;
		gpios = <7 GPIO_ACTIVE_HIGH>;
		output-high;
	};
};

&gpio1d {
	gpio-line-names = "USER_LED", "", "LVDS_BLT_CTRL", "SPKR",
		"LVDS_BLEN", "LVDSPPEN", "", "THRMTRIP#";
};

/* Connected to eMMC */
&sdhci0 {
	status = "okay";

	non-removable;
	bus-width = <8>;

	vqmmc-supply = <&sdhci0_supply>;
};

&qspi0 {
	status = "okay";

	flash0: s25fl128s@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor", "spi-flash";
		reg = <0x0>;
		/* This is the highest frequency at which all commands are
		 * supported by the flash device.
		 */
		spi-max-frequency = <66000000>;
		m25p,fast-read;
	};
};

&display_encoder {
	ports {
		port@2 {
			reg = <2>;

			rgb_out: endpoint {
				remote-endpoint = <&adv7513_in>;
			};
		};
	};
};

&lsperiph0_pinctrl {
	hdmi_int: hdmi-int {
		pins = "GPIOA_3";
		input-enable;
	};
};

&i2c2 {
	/* Not all devices are checked to 400kHz support */
	clock-frequency = <100000>;
	status = "okay";

	fancontrol: emc2301@2f {
		compatible = "microchip,emc2305";
		reg = <0x2f>;
		#address-cells = <1>;
		#size-cells = <0>;
		microchip,pwm-separate;
		#cooling-cells = <2>;

		channel@0 {
			reg = <0>;
			microchip,pwm-push-pull;
		};
	};

	rtc@32 {
		compatible = "microcrystal,rv8803";
		reg = <0x32>;
	};

	adv7513: hdmi@39 {
		#sound-dai-cells = <0>;
		compatible = "adi,adv7513";
		status = "disabled";
		reg = <0x39>, <0x3f>;
		reg-names = "main", "edid";
		interrupt-parent = <&gpio0a>;
		interrupts = <3 IRQ_TYPE_EDGE_FALLING>;
		clocks = <&hdmi_cec_clk>;
		clock-names = "cec";
		pd-gpios = <&gpio0b 0 GPIO_ACTIVE_HIGH>;
		adi,input-depth = <8>;
		adi,input-colorspace = "rgb";
		adi,input-clock = "1x";
		#address-cells = <1>;
		#size-cells = <0>;

		pinctrl-names = "default";
		pinctrl-0 = <&hdmi_int>;

		port@0 {
			reg = <0>;
			adv7513_in: endpoint {
				remote-endpoint = <&rgb_out>;
			};
		};
	};

	hwmon@49 {
		compatible = "ti,lm73";
		reg = <0x49>;
	};
};

/*
 * Upon reaching the trip point the thermal subsystem driver enables the fans.
 *
 * Thermal zones can be enabled/disabled via sysfs by writing said state into
 * the corresponding /sys/class/thermal/thermal_zoneX/mode file.
 */
&cpu_thermal {
	cooling_maps: cooling-maps {
		map0 {
			trip = <&cpu_alert0>;
			cooling-device = <&fancontrol
					  THERMAL_NO_LIMIT
					  THERMAL_NO_LIMIT>;
		};
	};
};

/* PCIe0 is connected to SATA controller. */
sata: &pcie0 { };
