// SPDX-License-Identifier: GPL-2.0+
// Copyright 2025 RnD Center "ELVEES", JSC

#include "mcom03-elvmc03q7-r2.8.1-elvq7cb-r3.3.0-b156xw02-v0r.dts"

/ {
	model = "ELV-MC03-Q7 r2.11.1, ELV-Q7-CB r3.3.0";
	compatible = "elvees,elvmc03q7-r2.11.1-elvq7cb-r3.3.0-b156xw02-v0r",
		     "elvees,elvmc03q7-r2.11.1-elvq7cb-r3.3.0",
		     "elvees,elvmc03q7-elvq7cb",
		     "elvees,elvq7cb-r3.3.0",
		     "elvees,elvq7cb",
		     "elvees,elvmc03q7-r2.11.1",
		     "elvees,elvmc03q7",
		     "elvees,mcom03";
};

/*
 * This EEPROM is connected to I2C_DID(XP9) and I2C_BLC(XP10) connectors for
 * testing purposes and is not part of this board.
 */
&i2c_lvds_did {
	eeprom@51 {
		compatible = "microchip,24c32", "atmel,24c32";
		reg = <0x51>;
	};
};

&i2c_lvds_blc {
	eeprom@51 {
		compatible = "microchip,24c32", "atmel,24c32";
		reg = <0x51>;
	};
};
