// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2023 RnD Center "ELVEES", JSC
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/linux-event-codes.h>

#include "mcom03-elvmc03q7-r1.0.dtsi"

/ {
	model = "ELV-MC03-Q7 r1.0, ELV-Q7-CB r1.0.0";
	compatible = "elvees,elvmc03q7-r1.0-elvq7cb-r1.0.0",
		     "elvees,elvmc03q7-elvq7cb",
		     "elvees,elvq7cb-r1.0.0",
		     "elvees,elvq7cb",
		     "elvees,elvmc03q7-r1.0",
		     "elvees,elvmc03q7",
		     "elvees,mcom03";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	vdda_codec: vdda-codec {
		compatible = "regulator-fixed";
		regulator-name = "vdda-codec";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	vddio_codec: vddio-codec {
		compatible = "regulator-fixed";
		regulator-name = "vddio-codec";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	/* "G1" oscillator */
	audio_mclk: audio_mclk {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <12288000>;
	};

	/* TRS (3.5mm jack) connected to SGTL5000 codec.
	   SGTL5000 connected to MCom-03 I2S0 as I2S slave.
	   */
	elvq7cb_i2s_asound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "analog-audio";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&dailink0_master>;
		simple-audio-card,frame-master = <&dailink0_master>;
		simple-audio-card,routing =
			"MIC_IN", "Mic Bias";

		dailink0_master: simple-audio-card,cpu {
			sound-dai = <&i2s0>;
		};

		simple-audio-card,codec {
			sound-dai = <&sgtl5000>;
		};
	};

	q7cb-gpio-keys {
		compatible = "gpio-keys";
		pinctrl-0 = <&sleep_lid_cfg_default>;
		pinctrl-names = "default";
		poll-interval = <1000>;

		sleep-button {
			gpios = <&gpio1a 6 GPIO_ACTIVE_LOW>;
			label = "Sleep button";
			linux,code = <KEY_SLEEP>;
		};

		lid-switch {
			gpios = <&gpio1a 5 GPIO_ACTIVE_LOW>;
			label = "Lid Switch";
			linux,code = <SW_LID>;
			linux,input-type = <EV_SW>;
			wakeup-source;
		};
	};

	q7cb-leds {
		compatible = "gpio-leds";

		hl3 {
			label = "sus_s3#:hl3";
			gpios = <&gpio0d 6 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		hl4 {
			label = "sus_s5#:hl4";
			gpios = <&gpio0d 7 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		hl5 {
			label = "thrmtrip:hl5";
			gpios = <&gpio1d 7 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		hl14 {
			label = "gpio0:hl14";
			gpios = <&gpio0a 0 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		hl15 {
			label = "gpio1:hl15";
			gpios = <&gpio0a 1 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		hl16 {
			label = "gpio2:hl16";
			gpios = <&gpio0b 3 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		hl17 {
			label = "gpio3:hl17";
			gpios = <&gpio0b 4 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
	};

	pca9675-keys {
		compatible = "gpio-keys-polled";
		poll-interval = <100>;
		autorepeat;

		btn0 {
			gpios = <&pca9675_1 0 GPIO_ACTIVE_LOW>;
			label = "BTN0";
			linux,code = <BTN_TRIGGER_HAPPY1>;
		};

		btn1 {
			gpios = <&pca9675_1 1 GPIO_ACTIVE_LOW>;
			label = "BTN1";
			linux,code = <BTN_TRIGGER_HAPPY2>;
		};

		btn2 {
			gpios = <&pca9675_1 2 GPIO_ACTIVE_LOW>;
			label = "BTN2";
			linux,code = <BTN_TRIGGER_HAPPY3>;
		};

		btn3 {
			gpios = <&pca9675_1 3 GPIO_ACTIVE_LOW>;
			label = "BTN3";
			linux,code = <BTN_TRIGGER_HAPPY4>;
		};

		ext_btn0 {
			gpios = <&pca9675_1 4 GPIO_ACTIVE_LOW>;
			label = "EXT_BTN0";
			linux,code = <BTN_TRIGGER_HAPPY5>;
		};

		ext_btn1 {
			gpios = <&pca9675_1 5 GPIO_ACTIVE_LOW>;
			label = "EXT_BTN1";
			linux,code = <BTN_TRIGGER_HAPPY6>;
		};

		ext_btn2 {
			gpios = <&pca9675_1 6 GPIO_ACTIVE_LOW>;
			label = "EXT_BTN2";
			linux,code = <BTN_TRIGGER_HAPPY7>;
		};

		ext_btn3 {
			gpios = <&pca9675_1 7 GPIO_ACTIVE_LOW>;
			label = "EXT_BTN3";
			linux,code = <BTN_TRIGGER_HAPPY8>;
		};
	};

	pca9675-leds {
		compatible = "gpio-leds";

		hl10 {
			gpios = <&pca9675_1 8 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		hl11 {
			gpios = <&pca9675_1 9 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		hl12 {
			gpios = <&pca9675_1 10 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		hl13 {
			gpios = <&pca9675_1 11 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		ext_led0 {
			label = "ext:led0";
			gpios = <&pca9675_1 12 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		ext_led1 {
			label = "ext:led1";
			gpios = <&pca9675_1 13 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		ext_led2 {
			label = "ext:led2";
			gpios = <&pca9675_1 14 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		ext_led3 {
			label = "ext:led3";
			gpios = <&pca9675_1 15 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
	};
};

&uart0 {
	status = "okay";
	clock-frequency = <27920454>;
};

&sdhci1 {
	status = "okay";

	/* Disable 1.8V support
	 * Disable SDR50, SDR104 and DDR50 support
	 */
	sdhci-caps-mask = <0x7 0x4000000>;
	sdhci-caps = <0x0 0x0>;
};

/* Connected to USB 2.0 (USB1) */
&usb0 {
	status = "okay";
};

/* Connected to USB 2.0 (USB0, USB2-3) */
&usb1 {
	status = "okay";
};

/* The board has a video output interface */
&dp {
	status = "okay";
};

/* Connected to HDMI plug */
&adv7513 {
	status = "okay";
};

&de_dpi {
	status = "okay";
};

&i2s0 {
	status = "okay";
};

&i2c0 {
	status = "okay";
	clock-frequency = <100000>;

	hwmon@49 {
		compatible = "ti,lm73";
		reg = <0x49>;
	};

	hwmon@4a {
		compatible = "ti,lm73";
		reg = <0x4a>;
	};

	/* I2C GPIO expander (PCA9675) */
	pca9675_0: gpio-expander@20 {
		compatible = "nxp,pca9675";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;

		gpio-line-names = "", "", "", "PCIe_PRSNT",
				  "", "I2C_OUT5", "I2C_OUT6", "I2C_OUT7",
				  "I2C_OUT10", "I2C_EXP_TP1", "I2C_EXP_TP2", "I2C_EXP_TP3",
				  "I2C_EXP_TP4", "I2C_EXP_TP5", "I2C_EXP_TP6", "I2C_EXP_TP7";
	};
};

&i2c1 {
	status = "okay";

	sgtl5000: codec@a {
		status = "okay";
		compatible = "fsl,sgtl5000";
		reg = <0x0a>;
		#sound-dai-cells = <0>;
		clocks = <&audio_mclk>;
		clock-names = "mclk";
		micbias-resistor-k-ohms = <2>;
		micbias-voltage-m-volts = <2250>;
		VDDA-supply = <&vdda_codec>;
		VDDIO-supply = <&vddio_codec>;
		VDDD-supply = <&vddio_codec>;
	};

	/* I2C GPIO expander (PCA9675) */
	pca9675_1: gpio-expander@20 {
		compatible = "nxp,pca9675";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

/* Connected to PCIe bridge */
&pcie1 {
	status = "okay";
};

&spi1 {
	status = "okay";
	num-cs = <2>;
	cs-gpios = <&gpio1c 3 GPIO_ACTIVE_LOW>, <&gpio1c 4 GPIO_ACTIVE_LOW>;

	flash1: m25p32@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "m25p32", "jedec,spi-nor";
		spi-max-frequency = <75000000>;
		reg = <0x0>;
	};

	flash2: m25p32@1 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "m25p32", "jedec,spi-nor";
		spi-max-frequency = <75000000>;
		reg = <0x1>;
	};
};

/* Connected to SATA plug */
&sata {
	status = "okay";
};

/* Connected to RJ-45 (XS1) */
&emac0 {
	status = "okay";
};

&lsperiph1_pinctrl {
	sleep_lid_cfg_default: gpioa1-sleep-lid-cfg {
		pins = "GPIOA_5", "GPIOA_6", "GPIOA_7";
		input-enable;
	};
};
