// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2023 RnD Center "ELVEES", JSC
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

#include "mcom03.dtsi"

/ {
	model = "IQCAM r1.0";
	compatible = "elvees,iqcam-r1.0",
		     "elvees,iqcam",
		     "elvees,mcom03";

	/delete-node/ sdr-bus;

	chosen {
		stdout-path = "serial0:115200n8";
	};

	sdhci0_supply: regulator@0 {
		compatible = "regulator-fixed";
		regulator-name = "sdhci0-supply";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	vdd_3v3: regulator@1 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "IQCAM audio";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&dailink0_master>;
		simple-audio-card,frame-master = <&dailink0_master>;
		simple-audio-card,aux-devs = <&linein_mic_selector>;
		simple-audio-card,widgets =
			"Microphone", "Microphone Jack",
			"Line", "Line In Jack",
			"Line", "Line Out Jack";
		simple-audio-card,routing =
			"Microphone Jack", "Channel1 IN",
			"MIC1", "Microphone Jack",
			"Microphone Jack", "micbias1",
			"Line In Jack", "Channel2 IN",
			"MIC2", "Line In Jack",
			"Line Out Jack", "LOUTL",
			"Line Out Jack", "LOUTR";

		dailink0_master: simple-audio-card,cpu {
			sound-dai = <&i2s0>;
		};

		simple-audio-card,codec {
			sound-dai = <&rt5616>;
			system-clock-frequency = <12288000>;
		};
       };

	linein_mic_selector: audio-selector {
		compatible = "simple-audio-selector";
		select-gpios = <&gpio0d 2 GPIO_ACTIVE_LOW>;
	};
};

&gpio0a {
	gpio-line-names = "", "", "ALARM_IN1", "ALARM_IN2",
			  "", "", "", "GPIO_RESET";
};

&gpio0c {
	gpio-line-names = "P_Iris_nB", "P_Iris_A", "P_Iris_B", "CMOS_nRST",
			  "P_Iris_nA", "", "", "CdS_INPUT";
};

&gpio0d {
	gpio-line-names = "IR_A", "IR_nA", "", "", "", "", "", "";
};

&gpio1a {
	gpio-line-names = "", "", "", "", "", "", "", "ALARM_OUT1";
};

&gpio1c {
	gpio-line-names = "Focus_nB", "Focus_B", "Zoom_nA", "Zoom_A",
			  "Focus_nA", "Focus_A", "IR_M", "Zoom_nB";
};

&gpio1d {
	gpio-line-names = "", "", "Zoom_B", "", "", "", "", "";
};

&uart0 {
	status = "okay";
};

&hsperiph_pinctrl {
	pinctrl-0 = <&hsperiph_misc_default &emac_v18>;
};

&qlic0 {
	status = "okay";
};

&i2c1 {
	clock-frequency = <400000>;
	status = "okay";

	adc: adc@48 {
		compatible = "ti,ads1000";
		reg = <0x48>;
		vdd-supply = <&vdd_3v3>;
	};
};

&i2c2 {
	clock-frequency = <400000>;
	status = "okay";

	rt5616: audio-codec@1b {
		#sound-dai-cells = <0>;
		compatible = "realtek,rt5616";
		reg = <0x1b>;
	};

};

&i2c4 {
	clock-frequency = <400000>;
	status = "okay";

	rtc@51 {
		compatible = "nxp,pcf85063";
		reg = <0x51>;
	};
};

&sdhci0 {
	status = "okay";

	non-removable;
	bus-width = <8>;

	vqmmc-supply = <&sdhci0_supply>;
};

&sdhci1 {
	status = "okay";

	/* Disable 1.8V support
	 * Disable SDR50, SDR104 and DDR50 support
	 */
	sdhci-caps-mask = <0x7 0x4000000>;
	sdhci-caps = <0x0 0x0>;
};

&qspi0 {
	status = "okay";

	flash0: w25q128jw@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor", "winbond,w25q128";
		reg = <0x0>;
		/* This is the highest frequency at which all commands are
		 * supported by the flash device.
		 */
		spi-max-frequency = <50000000>;
	};
};

&emac0 {
	status = "okay";

	phy-handle = <&ethernet_phy0>;

	reset-gpios = <&gpio0c 6 GPIO_ACTIVE_LOW>;

	ethernet_phy0: ethernet-phy@0 {
		compatible = "ethernet-phy-id0000.011a",
			     "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;

		motorcomm,clk-out-frequency-hz = <0>;
		rx-internal-delay-ps = <1650>;
		tx-internal-delay-ps = <1650>;
		max-speed = <100>;
	};
};

&i2s0 {
	status = "okay";

	pinctrl-0 = <&i2s0_default_cfg &i2s0_mux_sdo0
		     &i2s0_mux_sdi0 &i2s0_mux_ext_clk>;

	assigned-clocks = <&lsperiph1_refmux_i2s>;
	assigned-clock-parents = <&i2s0_sclk_in_clk>;
};

&isp {
	status = "okay";
};

&csi0 {
	status = "okay";
};
