// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2023 RnD Center "ELVEES", JSC
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/net/ti-dp83867.h>
#include <dt-bindings/thermal/thermal.h>

#include "mcom03.dtsi"

/ {
	model = "SKIF-MP v1.0";
	compatible = "elvees,skifmp-v1.0",
		     "elvees,skifmp",
		     "elvees,mcom03";

	skifmp-leds {
		compatible = "gpio-leds";

		red {
			gpios = <&gpio0c 3 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		green {
			gpios = <&gpio0b 1 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		blue {
			gpios = <&gpio0d 7 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		orange {
			gpios = <&gpio0d 2 GPIO_ACTIVE_HIGH>;
			default-state = "on";
			linux,default-trigger = "heartbeat";
		};
	};

	sdhci0_supply: regulator@0 {
		compatible = "regulator-fixed";
		regulator-name = "sdhci0-supply";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	hdmi_sound: hdmi-sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "SKIF-MP HDMI Audio";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&dailink0_master>;
		simple-audio-card,frame-master = <&dailink0_master>;

		dailink0_master: simple-audio-card,cpu {
			sound-dai = <&i2s0>;
		};

		simple-audio-card,codec {
			sound-dai = <&adv7513>;
		};
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&gpio0a {
	skifmp-on5v-out {
		gpio-hog;
		gpios = <1 GPIO_ACTIVE_HIGH>;
		output-high;
	};
};

&gpio0d {
	reset-usb2517-hub-hog {
		gpio-hog;
		gpios = <1 GPIO_ACTIVE_HIGH>;
		output-low;
	};
};

&lsperiph0_pinctrl {
	hdmi_int: hdmi-int {
		pins = "GPIOA_5";
		bias-pull-up;
	};
};

&hsperiph_pinctrl {
	pinctrl-0 = <&hsperiph_misc_default &emac_v18>;
};

/* Connected to USB 2.0 hub */
&usb1 {
	status = "okay";
};

/* Connected to eMMC */
&sdhci0 {
	status = "okay";

	non-removable;
	bus-width = <8>;

	vqmmc-supply = <&sdhci0_supply>;
};

&i2c0 {
	/* Not all devices are checked to 400kHz support */
	clock-frequency = <100000>;
	status = "okay";

	rtc@32 {
		compatible = "microcrystal,rv8803";
		reg = <0x32>;
	};

	/* Connected to HDMI plug */
	adv7513: hdmi@39 {
		#sound-dai-cells = <0>;
		compatible = "adi,adv7513";
		reg = <0x39>, <0x3f>;
		reg-names = "main", "edid";
		interrupt-parent = <&gpio0a>;
		interrupts = <5 IRQ_TYPE_EDGE_FALLING>;
		adi,input-depth = <8>;
		adi,input-colorspace = "rgb";
		adi,input-clock = "1x";
		#address-cells = <1>;
		#size-cells = <0>;

		pinctrl-names = "default";
		pinctrl-0 = <&hdmi_int>;

		port@0 {
			reg = <0>;
			adv7513_in: endpoint {
				remote-endpoint = <&rgb_out>;
			};
		};
	};
};

&i2s0 {
	status = "okay";
};

/* Connected to RJ-45 */
&emac0 {
	status = "okay";

	phy-handle = <&ethernet_phy0>;
	reset-gpios = <&gpio0d 6 GPIO_ACTIVE_LOW>;
	reset-post-delay-us = <200>;

	ethernet_phy0: ethernet-phy@4 {
		reg = <0x4>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
	};
};

&de_dpi {
	status = "okay";

	ports {
		port@1 {
			reg = <1>;

			rgb_out: endpoint {
				remote-endpoint = <&adv7513_in>;
			};
		};
	};
};

&i2c2 {
	status = "okay";
	clock-frequency = <100000>;
};

&qspi0 {
	status = "okay";

	flash0: s25fl128s@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor", "spi-flash";
		reg = <0x0>;
		/* This is the highest frequency at which all commands are
		 * supported by the flash device.
		 */
		spi-max-frequency = <66000000>;
		m25p,fast-read;
	};
};

/* Connected to Raspberry Pi header */
&uart0 {
	status = "okay";
};

/* Connected to MicroSD card */
&sdhci1 {
	status = "okay";

	/* Disable 1.8V support
	 * Disable SDR50, SDR104 and DDR50 support
	 */
	sdhci-caps-mask = <0x7 0x4000000>;
	sdhci-caps = <0x0 0x0>;

	disable-wp;
};

/* Connected to USB 3.0 Type-A */
&usb0 {
	status = "okay";
};

/* Board have video output interface */
&dp {
	status = "okay";
};

&isp {
	status = "okay";
};

&csi0 {
	status = "okay";
	reset_gpio = <&gpio1a 6 GPIO_ACTIVE_HIGH>;
};
