// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2023 RnD Center "ELVEES", JSC
 */

/dts-v1/;

#include <dt-bindings/input/linux-event-codes.h>

#include "mcom03-elvmc03q7-r2.1.1.dtsi"

/ {
	model = "ELV-MC03-Q7 r2.1.1, ELV-Q7-CB r1.0.0";
	compatible = "elvees,elvmc03q7-r2.1.1-elvq7cb-r1.0.0",
		     "elvees,elvmc03q7-elvq7cb",
		     "elvees,elvq7cb-r1.0.0",
		     "elvees,elvq7cb",
		     "elvees,elvmc03q7-r2.1.1",
		     "elvees,elvmc03q7",
		     "elvees,mcom03";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	elvq7cb-leds {
		compatible = "gpio-leds";

		hl3 {
			gpios = <&gpio0d 6 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		hl4 {
			gpios = <&gpio0d 7 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		hl5 {
			gpios = <&gpio0c 7 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		hl10 {
			gpios = <&pca9675_1 8 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		hl11 {
			gpios = <&pca9675_1 9 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		hl12 {
			gpios = <&pca9675_1 10 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		hl13 {
			gpios = <&pca9675_1 11 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		hl14 {
			/* Reserved for I2C3 SCL */
			status = "disabled";
			gpios = <&gpio1a 4 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		hl15 {
			/* Reserved for I2C3 SDA */
			status = "disabled";
			gpios = <&gpio1a 5 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		hl16 {
			/* Reserved for UART0 TX */
			status = "disabled";
			gpios = <&gpio1b 6 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		hl17 {
			/* Reserved for UART0 RX */
			status = "disabled";
			gpios = <&gpio1b 7 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};
	};

	elvq7cb-keys {
		compatible = "gpio-keys-polled";
		poll-interval = <100>;
		autorepeat;

		btn0 {
			gpios = <&pca9675_1 0 GPIO_ACTIVE_LOW>;
			label = "BTN0";
			linux,code = <BTN_TRIGGER_HAPPY1>;
		};

		btn1 {
			gpios = <&pca9675_1 1 GPIO_ACTIVE_LOW>;
			label = "BTN1";
			linux,code = <BTN_TRIGGER_HAPPY2>;
		};

		btn2 {
			gpios = <&pca9675_1 2 GPIO_ACTIVE_LOW>;
			label = "BTN2";
			linux,code = <BTN_TRIGGER_HAPPY3>;
		};

		btn3 {
			gpios = <&pca9675_1 3 GPIO_ACTIVE_LOW>;
			label = "BTN3";
			linux,code = <BTN_TRIGGER_HAPPY4>;
		};
	};

	hdmi_connector: hdmi-connector {
		compatible = "hdmi-connector";
		label = "hdmi";

		type = "a";

		port {
			hdmi_connector_in: endpoint {
				remote-endpoint = <&lt9611_out>;
			};
		};
	};

	vdda_codec: vdda-codec {
		compatible = "regulator-fixed";
		regulator-name = "vdda-codec";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	vddio_codec: vddio-codec {
		compatible = "regulator-fixed";
		regulator-name = "vddio-codec";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	/* "G1" oscillator */
	audio_mclk: audio_mclk {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <12288000>;
	};

	/* TRS (3.5mm jack) connected to SGTL5000 codec.
	   SGTL5000 connected to MCom-03 I2S0 as I2S slave.
	   */
	elvq7cb_i2s_asound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "ELV-Q7-CB analog audio";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&dailink1_master>;
		simple-audio-card,frame-master = <&dailink1_master>;
		simple-audio-card,routing =
			"MIC_IN", "Mic Bias";

		dailink1_master: simple-audio-card,cpu {
			sound-dai = <&i2s0>;
		};

		simple-audio-card,codec {
			sound-dai = <&sgtl5000>;
		};
	};
};

&uart0 {
	status = "okay";
};

&sdhci1 {
	status = "okay";

	/* Disable 1.8V support
	 * Disable SDR50, SDR104 and DDR50 support
	 */
	sdhci-caps-mask = <0x7 0x4000000>;
	sdhci-caps = <0x0 0x0>;
};

/* Connected to USB 3.0 (USB0) */
&usb0 {
	status = "okay";
};

/* Connected to USB 2.0 (USB0, USB2-3) */
&usb1 {
	status = "okay";
};

&i2c0 {
	status = "okay";
	clock-frequency = <100000>;

	hwmon@49 {
		compatible = "ti,lm73";
		reg = <0x49>;
	};

	hwmon@4a {
		compatible = "ti,lm73";
		reg = <0x4a>;
	};

	/* I2C GPIO expander (PCA9675) */
	pca9675_0: gpio-expander@20 {
		compatible = "nxp,pca9675";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;

		gpio-line-names = "", "", "", "PCIe_PRSNT",
				  "", "I2C_OUT5", "I2C_OUT6", "I2C_OUT7",
				  "I2C_OUT10", "I2C_EXP_TP1", "I2C_EXP_TP2", "I2C_EXP_TP3",
				  "I2C_EXP_TP4", "I2C_EXP_TP5", "I2C_EXP_TP6", "I2C_EXP_TP7";
	};
};

&i2c1 {
	status = "okay";

	sgtl5000: codec@a {
		status = "okay";
		compatible = "fsl,sgtl5000";
		reg = <0x0a>;
		#sound-dai-cells = <0>;
		clocks = <&audio_mclk>;
		clock-names = "mclk";
		micbias-resistor-k-ohms = <2>;
		micbias-voltage-m-volts = <2250>;
		VDDA-supply = <&vdda_codec>;
		VDDIO-supply = <&vddio_codec>;
		VDDD-supply = <&vddio_codec>;
	};

	/* I2C GPIO expander (PCA9675) */
	pca9675_1: gpio-expander@20 {
		compatible = "nxp,pca9675";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;

		gpio-line-names = "BTN_0", "BTN_1", "BTN_2", "BTN_3",
				  "EXT_BTN_0", "EXT_BTN_1", "EXT_BTN_2", "EXT_BTN_3",
				  "HL10", "HL11", "HL12", "HL13",
				  "EXT_LED_0", "EXT_LED_1", "EXT_LED_2", "EXT_LED_3";
	};
};

/* Connected to PCIe bridge */
&pcie1 {
	status = "okay";
};

&qspi1 {
	status = "okay";
	num-cs = <2>;

	flash1: m25p32@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "m25p32", "jedec,spi-nor";
		spi-max-frequency = <75000000>;
		reg = <0x0>;
	};

	flash2: m25p32@1 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "m25p32", "jedec,spi-nor";
		spi-max-frequency = <75000000>;
		reg = <0x1>;
	};
};

/* Connected to SATA plug */
&sata {
	status = "okay";
};

/* Connected to RJ-45 (XS1) */
&emac0 {
	status = "okay";
};

&dp {
	status = "okay";
};

&de_dsi {
	status = "okay";
};

&lt9611uxc {
	status = "okay";

	ports {
		port@2 {
			reg = <2>;
			lt9611_out: endpoint {
				remote-endpoint = <&hdmi_connector_in>;
			};
		};
	};
};

&hdmi_sound {
	status = "okay";
};

&mfbsp0_i2s {
	status = "okay";
};

&qlic0 {
	status = "okay";
};

&i2s0 {
	status = "okay";
};
