// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2023 RnD Center "ELVEES", JSC
 */

/dts-v1/;

#include "mcom03-elvmc03-r2.2-elvmc03cb-r1.0.dts"

/ {
	panel {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "raspberrypi,7inch-dsi";
		backlight = <&panel_reg>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port {
				panel_in: endpoint {
					remote-endpoint = <&bridge_rgb_out>;
				};
			};
		};
	};
	/*
	 * Here we have to delete sound card because it reffers to adv7513 hdmi bridge
	 */
	/delete-node/ sound;
};

&i2c_lcd {
	clock-frequency = <100000>;
	status = "okay";

	panel_reg: regulator@45 {
		compatible = "raspberrypi,7inch-touchscreen-panel-regulator";
		reg = <0x45>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&i2c02 {
	/delete-node/ hdmi@39;
};

&display_encoder {
	video-output = "dsi";
	status = "okay";

	bridge@0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "toshiba,tc358762";
		reg = <0>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				bridge_in: endpoint {
					remote-endpoint = <&dsi_out>;
				};
			};

			port@1 {
				reg = <1>;

				bridge_rgb_out: endpoint {
					remote-endpoint = <&panel_in>;
				};
			};
		};
	};

	ports {
		/delete-node/ port@2;

		port@1 {
			reg = <1>;

			dsi_out: endpoint {
				remote-endpoint = <&bridge_in>;
			};
		};
	};
};
